doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
button.logout(type='submit') Logout  
br
br
br
br
br
form(action='')
  span Name : 
  input#name(type='text' name='')
  br
  br
  span Description : 
  input#description(type='text' name='')
  br
  br
  span Deadline : 
  input#deadline(type='text' name='' placeholder='yyyy-mm-dd')
  br
  br
  span Status : 
  input#status(type='text' name='' )
  span Not Started OR Ongoing OR Completed
  br
  br
  button.btn(type='submit') Submit
br
br
br
br
br
ol
  
  for res in result
   div Name :  #{res.name}
   div Description :  #{res.description}
   div Created : #{res.created}
   div Deadline : #{res.deadline}
   div Status : #{res.status}
   button.delete(type="submit" delete-id = `${res['_id']}`) Delete
   button.update(type="submit" update-id=`${res['_id']}`) Update
   br


script(src="https://unpkg.com/axios/dist/axios.min.js")
script(src="view.js")